<p> <%= link_to "Back", authors_path %> </p>

<h1>
<%= @author.first_name %>
</h1>
<h1>
<%= @author.last_name %>
</h1>
<h1>
<%= @author.location%>
</h1>
<h2>
<%= @author.nickname%>
</h2>



<%= link_to 'Edit', edit_author_path(@author) %>
<%= link_to 'Destroy this author!', author_path(@author), method: :delete %>