<p> <%= link_to "Back", books_path %> </p>
<h1>

<%= @book.title %>

</h1>

<h1>

<%= @book.original_language%>

</h1>

<h1>

<%= @book.print_date %>

</h1>








<%= link_to 'Edit', edit_book_path(@book) %>
<%= link_to 'Destroy this book!', book_path(@book), method: :delete %>